*{margin: 0; padding: 0;}
body{
    background: #daf2f4;
    font-family: 'Fjalla One', sans-serif;
}
.container{
    width: 80%;
    height: 80%;
    margin: 2% auto;
}
.upper-main{
    padding: 50px;
}
.country-name{
    color: #ce001f;
    font-size: 3em;
    letter-spacing: 0.2em;
}
.country-banner{
    
}
.country-flag{
    width: 17%;
    height: 14%;
    position: absolute;
    left: 15.5%;
}
.county-welcome{
    position: absolute;
    left: 32.5%;
    font-size: 1.5em;
    color: #5b5a5f;
    padding: 0 20px;
}
.county-welcome > span{
    display: block;
}
.county-welcome >span.year{
    color: #341d31;
    font-size: 2em;
}
.japan-flag{
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.middle-circle{
    position: absolute;
    top: 17.5%;
    left: 30%;
    width: 40%;
    height: 65%;
    background: #ce001f;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}